:root {
  --text-color: #E3E3E3;
  --color-one: #1C2336;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* font-family: 'Podkova', sans-serif; */

}

body {}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  font-family: 'Podkova', serif;
}

.content {
  background-image: url('../public/images/foonebat 1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header {

  background-color: #1C2336;
} */


/* Contacts */
.contacts {
  background-color: var(--color-one);
}

/* Menu */